
<div>
<p><b *ngIf="logged">{{this.dentist.username}} - details </b><b style="color:black;" *ngIf="!logged">Details of selected dentist </b>
        <a class="btn" style="background-color:#64a19d; color:#fff;" href="/home/#dentists">Dentist select</a><br>
    <i style="color: #64a19d;">Name: </i> {{this.dentist.name}}<br>
    <i style="color: #64a19d;">Lastname: </i> {{this.dentist.lastname}}<br>
    <i style="color: #64a19d;">Email: </i> {{this.dentist.email}}<br>
    <!--Datum zaposlenja: {{this.dentist.datumZaposlenja}}<br>-->
    <span *ngIf="this.godina>=1"><i style="color: #64a19d;">Godina staza: </i> {{this.godina}}<br></span>
    <span *ngIf="this.godina<1"><i style="color: #64a19d;">Meseci staza: </i> {{this.mesec}}<br></span>
</div>
<div>
    <h3>Trenutan broj zakazanih pregleda: <b style="color: #64a19d;">{{ pregledi?.length }} </b> 
        <button class="btn" style="background-color:#64a19d; color:#fff" (click)="zakaziPregled(this.dentist._id)">Zakazi pregled</button></h3>
    <table [cellPadding]="5" border="2" style="border-color: #64a19d;" *ngIf="logged">
        <tr><th>Name</th><th>Lastname</th><th>Email</th><th>Datum</th></tr>
        <tr *ngFor="let pregled of pregledi" style="width: 500px">
            <td> {{ pregled.name }} </td>
            <td> {{ pregled.lastname }} </td>
            <td> {{ pregled.email }} </td>
            <td> {{ pregled.datum }} </td>
        </tr>
    </table>
</div>
